<div class="nav-menu">
  <div
    class="back-btn"
    [attr.data-title]="
      languageService.selectedLanguage === 'en'
        ? 'Back to Portal'
        : 'Retour au Portal'
    "
  >
    <button (click)="backToHome()">
      <img class="icon" src="./../../assets/img/back-icon.png" alt="Back" />
    </button>
  </div>
  <h2>Cosmic Carousel</h2>
  <div
    class="info-btn"
    [attr.data-title]="
      languageService.selectedLanguage === 'en'
        ? 'Open information'
        : 'Ouvrir informations'
    "
  >
    <button (click)="dialog.showModal()">
      <img
        class="icon"
        src="./../../assets/img/info-icon.png"
        alt="Open information"
      />
    </button>
  </div>
  <dialog #dialog>
    <app-infos
      [title]="
        languageService.selectedLanguage === 'en' ? 'carousel' : 'carouselFr'
      "
    ></app-infos>
    <div
      class="close-btn"
      [attr.data-title]="
        languageService.selectedLanguage === 'en'
          ? 'Close information'
          : 'Fermer informations'
      "
    >
      <button (click)="dialog.close()">
        <img
          class="icon"
          src="./../../assets/img/close-icon.png"
          alt="Close information"
        />
      </button>
    </div>
  </dialog>
</div>
<div class="carousel-page">
  <div class="carousel-content">
    <div class="arrows-container">
      <button class="control prev" (click)="onPreviousClick()">
        <span class="arrow left"></span>
      </button>
      <button class="control next" (click)="onNextClick()">
        <span class="arrow right"></span>
      </button>
    </div>
    <div class="carousel">
      <ng-container *ngFor="let slide of slides; let i = index">
        <div *ngIf="i === currentSlide" class="slide-content">
          <div class="slide-info">
            <h3>{{ slide.title }}</h3>
            <div class="details">
              <p>{{ slide.date | date : "MMMM d, yyyy" }}</p>
              <p *ngIf="slide.copyright">©{{ slide.copyright }}</p>
              <p class="explanation">{{ slide.explanation }}</p>
            </div>
          </div>
          <div class="slide-img">
            <img
              [src]="slide.url"
              class="slide"
              [alt]="slide.title"
              (click)="onImageClick(slide.hdurl)"
            />
            <div class="slide-btn">
              <button class="zoom-btn" (click)="onImageClick(slide.hdurl)">
                Zoom
              </button>
              <button class="reload-btn" (click)="onRefresh()">
                {{
                  languageService.selectedLanguage === "en"
                    ? "Reload"
                    : "Recharger"
                }}
              </button>
            </div>
            <p
              class="attention"
              *ngIf="languageService.selectedLanguage === 'fr'"
            >
              *Ce module n'est pas disponible en version traduite.
            </p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
