/* Header */
header {
     padding: 0px 20px;
     margin: 20px 0px;
    border-radius:  90px;
    width: 100%;
    height: 100%;
    background-color: rgba(8, 20, 27, 0.5); /* Couleur de fond inspirée de Mass Effect */
    color: #c9dce5; /* Couleur du texte */
    box-shadow: 0 0 10px rgba(76, 127, 154, 0.5); /* Légère ombre */
    align-items: center;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .asc-logo {
    height: 100px;
    width: auto;
  }
  h1 {
    margin: 0;
    font-size: 24px;
    color: #c9dce5; /* Couleur du titre */
  }
  
  nav {
    margin-top: 10px;
    a {
      margin: 0 10px;
      color: #c9dce5; /* Couleur des liens */
      text-decoration: none;
      transition: color 0.3s ease;
      
      
      &.active {
        color: #70a7bd; /* Couleur des liens actifs */
      }
      
      &:hover {
        color: #70a7bd; /* Changement de couleur au survol */
      }
    }
  }

}