<header>
    <h1>
        <img src="./../assets/img/celestial-observatory-icon.png" alt="Celestial Observatory - Your Cosmic Gateway" class="celestial-observatory-logo" routerLink="home">
    </h1>
    <nav>
        <a routerLink="home" routerLinkActive="active">Celestial Portal</a>
        <a routerLink="iss-tracker" routerLinkActive="active">ISS Explorer</a>
        <a routerLink="observatory" routerLinkActive="active">Telescope Hub</a>
        <a routerLink="gallery" routerLinkActive="active">Cosmic Carousel</a>
      </nav>
  </header>