// =========================
// Carousel
// =========================

:host {
    flex: 1;
  }
  h2 {
    margin: 0px;
}
  .carousel-page {
    width: auto;
    overflow: overlay;
      display: flex;
    flex-direction: column;
     align-items: center;
     
    .carousel {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .slide-content {
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .slide-info {
        width: 30%;
        display: flex;
  flex-direction: column;
      }
      img {

        width: 40%;
        height: 40%;
       
        object-fit: cover;
        border: 0.1em solid #70a7bd;
        border-radius: 15px;
        cursor: pointer;
        // zoom effect on hover
      }
    }
  }
  

  
  
  
  // =========================
  // Next and Prev buttons
  // =========================
  .control {
    border: none;
    background-color: transparent;
    outline: 0; // remove blue outline border, but make sure they are still focussable for accessibility
    position: absolute;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5em;
    font-weight: bold;
    font-size: 3em;
    user-select: none;
    height: 50%;
    opacity: 80%;
    // opacity effect on hover
  
  
  
  
    /* Position the buttons */
    &.next {
      right: 7%;
    }
    &.prev {
      left: 7%;
    }
  }
  
  /* style the arrows */
  .arrow {
    display: block;
    border-left: 0.1em solid #70a7bd;
    border-bottom: 0.1em solid #70a7bd;
    width: 0.5em;
    height: 0.5em;
  
    &.left {
      transform: rotate(45deg);
    }
    &.right { 
      transform: rotate(225deg);
    }
  }