// =========================
// Carousel
// =========================

:host {
    flex: 1;
  }
  .carousel {

    height: 80%;
    width: 80%;
    overflow: hidden;
      display: flex;
    flex-direction: column;
     align-items: center;
    .slide-info {
      width: 100%;
      display: flex;
flex-direction: column;

    }
  }
  
  .slide {

    width: 100%;
    height: 35%;
    object-fit: cover;
    // zoom effect on hover
  
    border-radius: 0.5em;
  }
  
  
  
  // =========================
  // Next and Prev buttons
  // =========================
  .control {
    border: none;
    background-color: transparent;
    outline: 0; // remove blue outline border, but make sure they are still focussable for accessibility
    position: absolute;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5em;
    color: white;
    font-weight: bold;
    font-size: 3em;
    user-select: none;
    height: 100%;
    opacity: 80%;
    // opacity effect on hover
  
  
  
  
    /* Position the buttons */
    &.next {
      right: 0;
    }
    &.prev {
      left: 0;
    }
  }
  
  /* style the arrows */
  .arrow {
    display: block;
    border-left: 0.1em solid black;
    border-bottom: 0.1em solid black;
    width: 0.5em;
    height: 0.5em;
  
    &.left {
      transform: rotate(45deg);
    }
    &.right {
      transform: rotate(225deg);
    }
  }