// =========================
// Carousel
// =========================


  .nav-menu {
    width: 100%;
    height: 10%;


     
    
  }
  .carousel-page {
    width: auto;
    height: 90%;
      display: flex;
    flex-direction: column;

     
    .carousel {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
    .slide-content {
      width: 80%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      .slide-info {
        height: 95%;
        width: 50%;
        display: flex;
  flex-direction: column;

        h3 {
          color: #70a7bd;
        }
  p {
    
    margin: 0px;
  }
  .details {
    display: flex;
    height: 70%;
    width: 100%;
    overflow: overlay;
    margin: 10px 0px;
 
    p {
      line-height: 20px;
    }
  }
      }
  .slide-img {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    max-height: 400px;
    align-items: center;
    padding-top: 30px;
    img {
      margin: 20px 0px;
      width: 80%;
      height: 60%;
     
      object-fit: cover;
      border: 0.1em solid #70a7bd;
      border-radius: 15px;
      cursor: pointer;
      // zoom effect on hover
    }
    
  }

    }
  }
  

  
  
  
  // =========================
  // Next and Prev buttons
  // =========================
  .control {
    border: none;
    background-color: transparent;
    outline: 0; // remove blue outline border, but make sure they are still focussable for accessibility
    position: absolute;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5em;
    font-weight: bold;
    font-size: 3em;
    user-select: none;
    opacity: 80%;
    top: 50%;
    // opacity effect on hover
  
  
  
  
    /* Position the buttons */
    &.next {
      right: 7%;
    }
    &.prev {
      left: 7%;
    }
  }
  
  /* style the arrows */
  .arrow {
    display: block;
    border-left: 0.1em solid #70a7bd;
    border-bottom: 0.1em solid #70a7bd;
    width: 0.5em;
    height: 0.5em;
  
    &.left {
      transform: rotate(45deg);
    }
    &.right { 
      transform: rotate(225deg);
    }
  }

