<div class="about container">
  <div class="about box">
    <div class="nav-menu">
      <div class="back-btn" data-title="Back to Portal">
        <button (click)="backToHome()">
          <img
            class="icon"
            src="./../../assets/img/back-icon.png"
            alt="Back to Hub"
          />
        </button>
      </div>
      <h2>About us</h2>
      <div class="info-btn" data-title="Open informations">
        <button (click)="dialog.showModal()">
          <img
            class="icon"
            src="./../../assets/img/info-icon.png"
            alt="Show Informations"
          />
        </button>
      </div>
      <dialog #dialog>
        <app-infos [title]="'credits'"></app-infos>
        <div class="close-btn" data-title="Close informations">
          <button (click)="dialog.close()">
            <img
              class="icon"
              src="./../../assets/img/close-icon.png"
              alt="Close modal"
            />
          </button>
        </div>
      </dialog>
    </div>
    <div class="about">
      <p>Celestial Observatory is an
        application developed to promote interest and awareness in astronomy.</p>
      <p>
        We express gratitude to NASA, ESA, and all space agencies for their
        invaluable contributions to space exploration and for making their
        resources accessible to the public. 
      </p>
      <p>
        We also extend our thanks to the passionate individuals who create APIs
        and make them accessible, contributing to the wealth of knowledge about
        the cosmos.
      </p>
      <p>Click <a href="/credits">here</a> for full credits.</p>
    </div>
  </div>
</div>
