<div class="about container">
  <div class="about box">
    <div class="nav-menu">
      <div class="back-btn" data-title="Back to Portal">
        <button (click)="backToHome()">
          <img
            class="icon"
            src="./../../assets/img/back-icon.png"
            alt="Back to Hub"
          />
        </button>
      </div>
      <h2>About us</h2>
      <div class="info-btn" data-title="Open informations">
        <button (click)="dialog.showModal()">
          <img
            class="icon"
            src="./../../assets/img/info-icon.png"
            alt="Show Informations"
          />
        </button>
      </div>
      <dialog #dialog>
        <app-infos [title]="'credits'"></app-infos>
        <div class="close-btn" data-title="Close informations">
          <button (click)="dialog.close()">
            <img
              class="icon"
              src="./../../assets/img/close-icon.png"
              alt="Close modal"
            />
          </button>
        </div>
      </dialog>
    </div>
    <div class="about">
      <div class="about-content">
      <p>Celestial Observatory is an
        application developed to promote interest and awareness in astronomy.</p>
      <p>
        We express gratitude to NASA, ESA, and all space agencies for their
        invaluable contributions to space exploration and for making their
        resources accessible to the public. 
      </p>
      <p>
        We also extend our thanks to the passionate individuals who create APIs
        and make them accessible, contributing to the wealth of knowledge about
        the cosmos.
      </p>
      <p>Click <a href="/credits">here</a> for full credits.</p>
    </div>
    <p>For any suggestion, demand or proposition, you may use the contact form below:</p>
     
      <form action="https://formspree.io/f/xgegoanz" method="POST" (submit)="onFormSubmit()">
         <div class="contact">
        <div class="contact-details">
          <div class="contact-input">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
      </div>
      <div class="contact-input">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
      </div>
    </div>
      
      <div class="contact-message">
        <label for="message">Message:</label>
        <textarea id="message" name="message" required></textarea>
      </div>
    </div>
      <button type="submit">Send</button>
      </form>
      <div class="disclaimer">
        <p>Celestial Observatory was developped with Angular.</p>
        <p>© JM-D 2024</p>
      </div>
 

    </div>
  </div>
</div>
