.about {
    height: 100%;
    .info-btn {
        visibility: hidden;
    }
    .about-content {
        height: 30%; 
        a {
            color: #70a7bd;
            text-decoration: none;
        }
    }
    form {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
       justify-content: center;
    
        .contact {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin: 20px 0px;
            .contact-details, .contact-message {
                height: 100%;
                width: 30%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .contact-input {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                textarea {
                    height: 80%;
                    width: 100%;
                }
            }
    
            input, textarea {
                border: 0.1em solid #70a7bd;
                padding: 5px 20px;
                margin: 5px;
                background-color: rgba(112, 167, 189, 0.155);
              border-radius: 15px;
              color: #e3eff5; /* Couleur du texte des boutons */
            }
        }
        button {
            width: 10%;
            align-self: center;
        }
    }
    .disclaimer {
        margin-top: 50px;
        justify-self: flex-end;
        font-size: 14px;
        font-style: italic;
        p {
            margin: 0px;
        }
    }
}
