.codex {
  border-left: 1px solid #3a6a7c;
  height: 90%;
  width: 100%;
  color: #c9dce5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  p {
    margin: 0px 10px;
  }
h3 {
  text-align: center;
  margin: 0px;
  color: #d3d3d3; /* Couleur du titre */
  padding-bottom: 5px;
}
  .options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .selection {
      text-align: center;
    }

    .type-button {
        border: 1px solid #70A7BD;
        padding: 10px;
        margin: 5px;
        background-color: rgba(112, 167, 189, 0.155);
      border-radius: 15px;
      color: #e3eff5; /* Couleur du texte des boutons */
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #2c4b5c; /* Changement de couleur au survol */
      }
    }
  }
  
  .selected-option {
    width: auto;
    height: 80%;
    overflow: overlay;

  }
 
}
