<div class="iss-explorer container">
  <div class="iss box">
    <div class="nav-menu">
      <div
        class="back-btn"
        [attr.data-title]="
          languageService.selectedLanguage === 'en'
            ? 'Back to Portal'
            : 'Retour au Portal'
        "
      >
        <button (click)="backToHome()">
          <img
            class="icon"
            src="./../../assets/img/back-icon.png"
            alt="Back to Hub"
          />
        </button>
      </div>
      <h2>ISS Explorer</h2>
      <div
        class="info-btn"
        [attr.data-title]="
          languageService.selectedLanguage === 'en'
            ? 'Open information'
            : 'Ouvrir informations'
        "
      >
        <button (click)="dialog.showModal()">
          <img
            class="icon"
            src="./../../assets/img/info-icon.png"
            alt="Open information"
          />
        </button>
      </div>
      <dialog #dialog>
        <app-infos
          [title]="
            languageService.selectedLanguage === 'en'
              ? 'explorer'
              : 'explorerFr'
          "
        ></app-infos>
        <div
          class="close-btn"
          [attr.data-title]="
            languageService.selectedLanguage === 'en'
              ? 'Close information'
              : 'Fermer informations'
          "
        >
          <button (click)="dialog.close()">
            <img
              class="icon"
              src="./../../assets/img/close-icon.png"
              alt="Close information"
            />
          </button>
        </div>
      </dialog>
    </div>
    <app-iss-tracker class="tracker"></app-iss-tracker>
  </div>
</div>
