<div class="options-container">
  <div class="options">
    <button *ngFor="let type of allowedBodyTypes" (click)="onCategorySelected(type)" class="type-button">
      {{ type }}
    </button>
  </div>
  <p>Selected body type:</p>

  <div class="selected-option">
    <p *ngIf="selectedCategoryId" class="selected-option">{{ selectedCategoryId }}</p>
    <p *ngIf="!selectedCategoryId" class="unselected-option">Select body type</p>
   

  <button (click)="redirectToCategoryDetail()" class="category-details-button">Point Telescope</button>
</div>


