<div class="options-container">
  <p>Select a celestial body type to show all known bodies</p>
  <div class="options">
    <button *ngFor="let type of allowedBodyTypes" (click)="onCategorySelected(type)" class="type-button">
      {{ type }}
    </button>
  </div>


  <div class="options-selection">
    <p *ngIf="selectedCategoryId" class="selected-option">- {{ selectedCategoryId }} -</p>
    <p *ngIf="!selectedCategoryId" class="unselected-option">Select body type</p>
   

  <button (click)="redirectToCategoryDetail()" class="category-details-button">Point Telescope</button>
</div>


