<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
crossorigin=""/>
<div class="iss-info">
  <div class="location">
    <h3>ISS Location</h3>
    <div class="locaiton-info">
      <p class="location-title">Latitude : </p>
      <p>{{ issLatitude }}</p>
      <p class="location-title">Longitude :</p>
      <p> {{ issLongitude }}</p>
      <p class="location-title">Velocity : </p>
      <p>{{ velocity }} km/h</p>
      <p class="location-title">Altitude : </p>
      <p>{{ altitude }} km</p>
      <p class="location-title">Visibility : </p>
      <p>{{ visibility }}</p>
    </div>
  </div>
  <div id="map"></div>


  <div class="crew">
    <h3>Crew</h3>
    <p>Currently, there are {{crewNumber}} people aboard the ISS :</p>
    <ul>
      <li *ngFor="let crewMember of crew">{{ crewMember.name }}</li>
    </ul>
  </div>
</div>
  <!-- Ajoute des éléments pour afficher les données de prédiction de passage -->
  

