.iss-page {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  .iss-info {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 90%;
    overflow: overlay;
    .loading {
      display: flex;
      align-items: center;
      height: 100%;
      color: #70a7bd;
      p {
        font-size: 26px;
      }
    }
    .location {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      .location-info {
        width: 100%;
        margin: 0px;
        display: grid;
        grid-template-columns: 35% 35%;
        justify-content: space-between;
        span {
          margin: 10px 0px;
          p {
            margin: 0px;
            color: #70a7bd;
          }
        }
      }
    }
    .crew {
      width: 100%;
      font-size: 18px;
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        color: #70a7bd;
      }
      ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 16px;
        list-style: none;
        padding: 0px;
        margin: 0px;
        color: #70a7bd;
      }
    }
    h3,
    h5 {
      margin: 10px 0px;
    }
    h4 {
      margin: 0px;
    }
    p {
      font-size: 16px;
    }
  }
  #map {
    border: 3px solid #70a7bd;
    border-radius: 10px;
    width: 60%;
    height: auto;
    margin-bottom: 5px;
  }
}

@media only screen and (min-width: 2501px) {
  .iss-page {
    .iss-info {
      .loading {
        p {
          font-size: 36px;
        }
      }
      h3 {
        font-size: 28px;
      }
      h4,
      h5 {
        font-size: 26px;
      }
      .location {
        .location-info {
          span {
            p {
              font-size: 24px;
            }
          }
        }
      }
      .crew {
        ul {
          font-size: 24px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1921px) and (max-width: 2500px) {
  .iss-page {
    .iss-info {
      .loading {
        p {
          font-size: 32px;
        }
      }
      h3 {
        font-size: 24px;
      }
      h4,
      h5 {
        font-size: 22px;
      }
      .location {
        .location-info {
          span {
            p {
              font-size: 20px;
            }
          }
        }
      }
      .crew {
        ul {
          font-size: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1199px) {
  .iss-page {
    margin-top: 1%;
    .iss-info {
      .crew {
        ul {
          font-size: 14px;
        }
        h3,
        h5 {
          margin: 5px 0px;
        }
        h4 {
          font-size: 14px;
        }
        p {
          font-size: 14px;
        }
      }
    }
    #map {
      height: 90%;
    }
  }
}

@media only screen and (max-width: 992px) {
  .iss-page {
    flex-direction: column-reverse;
    align-items: center;
    .iss-info {
      flex-direction: row;
      height: 30%;
      width: 100%;
      overflow: overlay;
      .loading {
        justify-content: center;
        width: 100%;
      }
      .location {
        width: 100%;
        .location-info {
          justify-content: space-evenly;
        }
      }
      .crew {
        padding-bottom: 2%;
        ul {
          font-size: 14px;
          align-items: center;
        }
        h3,
        h5 {
          margin: 5px 0px;
        }
        h4 {
          font-size: 14px;
        }
        p {
          font-size: 14px;
        }
      }
    }
    #map {
      width: 100%;
      height: 60%;
    }
  }
}

@media only screen and (max-width: 480px) {
  .iss-page {
    .iss-info {
      .location {
        width: 100%;
        h4,
        p {
          font-size: 14px;
        }
      }
    }
    #map {
      top: 2%;
    }
  }
}
