<div class="container">
    <div class="box">
        <div class="body-page">
        <h2>Telescope Hub</h2>
        <div class="body-content">
            <div class="knowncount">
                <app-knowncount></app-knowncount>
              </div>
            <div *ngIf="celestialBody" class="celestial-body">
                <span class="body-name">
                <h3>{{ celestialBody.englishName.toUpperCase()}}</h3>
                </span>
                    <div class="body-description">
                        <div class="body-intro">
                            <p *ngIf="celestialBody.alternativeName">Alternative name: {{celestialBody.alternativeName}}</p>
                        <p *ngIf="celestialBody.discoveredBy"> Discover by: {{celestialBody.discoveredBy}}, the {{celestialBody.discoveryDate}}</p>
                        <span style="cursor: pointer;" (click)="navigateToBodyType()">
                            <p>Body Type: {{celestialBody.bodyType}}</p>
                        </span>
                        <p *ngIf="celestialBody.bodyType === 'Moon'">
                            {{ celestialBody.englishName }} orbits around: 
                            <span style="cursor: pointer;" (click)="navigateToPlanet()">
                                {{ IsMoonBody ? 'Earth' : celestialBody.aroundPlanet.planet | titlecase }}
                            </span>
                        </p> 
                        </div>
                     
                        <div class="body-details">
                            <h4>Codex informations:</h4>
                            <div class="details-list">
                                <span *ngIf="celestialBody.perihelion" data-title="The point in an object's orbit of a planet, asteroid or comet at which it is closest from the sun">
                                <h5>Perihelion:</h5>
                                <p>{{celestialBody.perihelion}} km</p>
                            </span>
                            <span *ngIf="celestialBody.aphelion" data-title="The point in an object's orbit of a planet, asteroid, or comet at which it is furthest from the sun">
                                <h5>Aphelion:</h5>
                                <p>{{celestialBody.aphelion}} km</p>
                            </span>
                            <span *ngIf="celestialBody.eccentricity" data-title="The deviation of a curve or orbit from circularity">
                                <h5>Eccentricity:</h5>
                                <p>{{celestialBody.eccentricity}} °</p>
                            </span>
                            <span *ngIf="celestialBody.inclination" data-title="The angle between the orbital plane and the plane of reference">
                                <h5>Inclination:</h5>
                                <p>{{celestialBody.inclination}} °</p>
                            </span>
                            <span *ngIf="celestialBody.density" data-title="The mass per unit volume of an object">
                                <h5>Density:</h5>
                                <p>{{celestialBody.density}} g.cm³</p>
                            </span>
                            <span *ngIf="celestialBody.gravity" data-title="The force by which a planet or other body draws objects toward its center">
                                <h5>Gravity:</h5>
                                <p>{{celestialBody.gravity}} m.s-²</p>
                            </span>
                            <span *ngIf="celestialBody.escape" data-title="The speed necessary for an object to escape the gravitational pull of an object">
                                <h5>Escape:</h5>
                                <p>{{celestialBody.escape}} m.s-¹</p>
                            </span>
                            <span *ngIf="celestialBody.dimension">
                                <h5>Dimensions:</h5>
                                <p>{{ celestialBody.dimension}} km</p>
                            </span>
                            <span *ngIf="celestialBody.meanRadius">
                                <h5>Mean Radius:</h5>
                                <p>{{celestialBody.meanRadius}} km</p>
                            </span>
                            <span *ngIf="celestialBody.equaRadius">
                                <h5>Equa Radius:</h5>
                                <p>{{celestialBody.equaRadius}} km</p>
                            </span>
                            <span *ngIf="celestialBody.polarRadius">
                                <h5>Polar Radius:</h5>
                                <p>{{celestialBody.polarRadius}} km</p>
                            </span>
                            <span *ngIf="celestialBody.sideralOrbit" data-title="The period the revolution of an object around another object (the Sun or a planet) in terrestrial days">
                                <h5>Sideral Orbit:</h5>
                                <p>{{celestialBody.sideralOrbit}} days</p>
                            </span>
                            <span *ngIf="celestialBody.sideralRotation" data-title="The rotation period of an object, the time needed for the object to perform a turn on itself, in hours">
                                <h5>Sideral Rotation:</h5>
                                <p>{{celestialBody.sideralRotation}} hours</p>
                            </span>
                            <span *ngIf="celestialBody.avgTemp" data-title="The average temperature">
                                <h5 >Average Temperature:</h5>
                                <p>{{celestialBody.avgTemp}} K</p>
                            </span>
                        </div>
                        </div>
                        <div class="body-moons" *ngIf="celestialBody.moons && celestialBody.moons.length > 0">
                            <h4 *ngIf="celestialBody.moons.length > 1">Moons of {{ celestialBody.englishName}}:</h4>
                            <h4 *ngIf="celestialBody.moons.length == 1">Moon of {{ celestialBody.englishName}}:</h4> 
                            <div class="moons-list">
                            <span *ngFor="let moon of celestialBody.moons; let i = index">
                                    <h5 style="cursor: pointer;" (click)="navigateToMoonDetails(i)">
                                        {{ isEarthBody ? 'Moon' : moon }}
                                    </h5>
                                </span>
                            </div> 
                        </div>
                    </div>
             </div>
            <div class="codex">
                <app-codex [codexEntries]="codexEntries"></app-codex>
            </div>
        </div>
    </div>
    </div>
</div>
    