
.body-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
      h3, h4, h5 {
      margin: 0px;
  }
  .nav-menu {
    margin-bottom: 10px;

  }
  .body-content {

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    
 .knowncount {
    height: 100%;
    width: 20%; 
 }
    .no-datas {
        display: flex;
        flex-direction: column;
        height: 50%;
        justify-content: space-around;
        align-items: center;

        button {
            width: 20%;
        }
    }
    .celestial-body {
    margin: 0px 15px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 85%;
        width: 55%;

        .body-name {
            margin: 10px 0px;
            font-size: 24px;
        }
        
        .body-description {
            display: flex;
            flex-direction: column;
            overflow: overlay;
            justify-content: space-between;
            height: 100%;
            width: 100%;
            .body-details, .body-moons {
                display: flex;
                flex-direction: column;
    align-items: center;
            }
            .details-list, .moons-list {
                margin: 15px 0px ;
                display: grid;
                justify-content: space-around;
                padding: 5px 0px;
                border: 1px solid #70a7bd;
                border-radius: 15px;
                background-color: rgba(112, 167, 189, 0.155);
                width: 90%;
                span {
                    margin: 10px 0px;
                    p {
                        margin: 0px;
                        color: #70a7bd;
                    }
                }
            }
            .details-list{
                grid-template-columns: 45% 45%;
            }
            .moons-list {
                grid-template-columns: 25% 25% 25%;
            }
       
        }


       
    }

    .codex {
        height: 100%;
        width: 20%; 
    }
}

}