.landing-page {
  width: 100vw;
  height: 90vh;
  body {
    box-shadow: none;
  }
  .landing-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    opacity: 0.85;
    .celestial-observatory-logo {
      height: auto;
      width: 50%;
    }
    .landing-txt {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 5%;
      p {
        color: white;
        font-size: 24px;
      }
      button {
        padding: 15px 20px;
        border-radius: 20px;
        font-size: 20px;
      }
    }
  }
}

@media only screen and (min-width: 2501px) {
  .landing-page {
    .landing-content {
      .landing-txt {
        p {
          font-size: 32px;
        }
        button {
          font-size: 28px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1921px) and (max-width: 2500px) {
  .landing-page {
    .landing-content {
      .landing-txt {
        p {
          font-size: 30px;
        }
        button {
          font-size: 26px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .landing-page {
    .landing-content {
      .landing-txt {
        p {
          font-size: 18px;
        }
        button {
          font-size: 14px;
        }
      }
    }
  }
}
