<div class="landing-page">
  <div class="landing-content">   
    
    <div class="landing-text">
       <h2>Celestial Observatory</h2>
          <div class="landing-intro">
            <span>
              <p>Real-time ISS Tracking</p>
              <p>Uncover Solar System Wonders</p>
              <p>Journey Through Galaxies</p>
            </span>
            <button (click)="onContinue()">Enter</button>
            <img src="./../assets/img/asc-logo.png" alt="asc-logo" class="asc-logo">
          </div>
    </div>
  </div>
</div>
