.landing-page {
  width: 100vw; /* Largeur de l'écran */
  height: 90vh; /* Hauteur de l'écran */

  body {
    box-shadow: none;
  }

  .landing-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .celestial-observatory-logo {
      height: auto;
      width: 50%;
      opacity: 0.85;
    }

        button {
          height: fit-content;
          border: 1px solid #3a6a7c;
          padding: 20px;
          margin: 5px;
          background-color: #70a7bd1d;
          border-radius: 15px;
                  color: #70a7bd;
          cursor: pointer;

          transition: background-color 1s ease;
          transition: all 1s ease;

          font-size: 30px;
          font-family: "Ubuntu Mono", monospace;
          &:hover {
            background-color: #39556092; /* Changement de couleur au survol */
            color: #70a7bd;

            
          }
        }

    
  }
}
