<div class="home container">
  <div class="box">
  <h2>Home</h2>
  <div class="intro">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in vehicula dui. Aenean ligula leo, rutrum eu scelerisque sit amet, gravida id nisl. Nam ullamcorper quis orci et semper. Curabitur nec dolor leo. Nullam ultricies massa a sem bibendum venenatis non vitae dolor. Ut elementum turpis et porta auctor. Duis quis convallis purus, tempus laoreet ex. Etiam accumsan tortor velit, id hendrerit metus facilisis a. Mauris viverra lacus sit amet lectus vulputate, eget viverra metus pulvinar. Etiam convallis sit amet ipsum sed mattis. Nunc eleifend nisi velit, sit amet rhoncus sapien faucibus ut. Aenean nec justo pulvinar, consequat libero vel, accumsan est. Nam non enim eget purus dapibus congue semper non massa. Ut maximus tincidunt cursus. Maecenas pulvinar feugiat ullamcorper. Curabitur at scelerisque tortor.</p>
  </div>
<div class="menu">
  <div class="module">
  <h3>ISS Tracker</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in vehicula dui. Aenean ligula leo, rutrum eu scelerisque sit amet, gravida id nisl. Nam ullamcorper quis orci et semper. Curabitur nec dolor leo. Nullam ultricies massa a sem bibendum venenatis non vitae dolor. Ut elementum turpis et porta auctor. Duis quis convallis purus, tempus laoreet ex. Etiam accumsan tortor velit, id hendrerit metus facilisis a. Mauris viverra lacus sit amet lectus vulputate, eget viverra metus pulvinar. </p>
    <a routerLink="/iss-tracker" routerLinkActive="active">Enter</a>
  </div>
    
    <div class="module">
      <h3>Observatory</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in vehicula dui. Aenean ligula leo, rutrum eu scelerisque sit amet, gravida id nisl. Nam ullamcorper quis orci et semper. Curabitur nec dolor leo. Nullam ultricies massa a sem bibendum venenatis non vitae dolor. Ut elementum turpis et porta auctor. Duis quis convallis purus, tempus laoreet ex. Etiam accumsan tortor velit, id hendrerit metus facilisis a. Mauris viverra lacus sit amet lectus vulputate, eget viverra metus pulvinar. </p>
    <a routerLink="/observatory" routerLinkActive="active">Enter</a>  
  </div>
    <div class="module">
     <h3>Gallery</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in vehicula dui. Aenean ligula leo, rutrum eu scelerisque sit amet, gravida id nisl. Nam ullamcorper quis orci et semper. Curabitur nec dolor leo. Nullam ultricies massa a sem bibendum venenatis non vitae dolor. Ut elementum turpis et porta auctor. Duis quis convallis purus, tempus laoreet ex. Etiam accumsan tortor velit, id hendrerit metus facilisis a. Mauris viverra lacus sit amet lectus vulputate, eget viverra metus pulvinar. </p>
      <a routerLink="/gallery" routerLinkActive="active">Enter</a>
    </div> 
  </div>
  <nav>
    <a routerLink="/iss-tracker" routerLinkActive="active">ISS Tracker</a>
    <a routerLink="/observatory" routerLinkActive="active">Observatory</a>
    <a routerLink="/gallery" routerLinkActive="active">Gallery</a>
  </nav>
</div>
</div>