.home {
    .menu {
        height: 50%;
        overflow: overlay;
    }
    .module {
        width: 100%;
        height: auto;
        font-size: 12px;
        padding: 10px 0px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
}